video {
    width: 100%;
    display: block;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    height: 100vh;
    width: 1500px;
    height: 718px;
    border-radius: 16px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }