{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS only -->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://kit.fontawesome.com/142db3e41a.js" crossorigin="anonymous"></script>

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header>
        <nav class="navbar bg-white navbar-white navbar-expand-lg shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand  cHover cGreen fs-2" href="{% url 'home' %}">
                    <i class="fa-solid fa-utensils" style="color: #511f50;"></i>  Le chère 
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0  fs-5">
                        <li class="nav-item">
                            <a class="nav-link active cHover" aria-current="page" href="{% url 'home' %}"> Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active cHover" href="{% url 'menu' %}">Our Menu</a>
                        </li>       
                        <li class="nav-item">
                            <a class="nav-link active cHover" href="{% url 'online_booking' %}">Online Booking</a>
                        </li>                   
                        {% if user.is_authenticated %}
                       
                        <!--Clinic Staff Link-->
                       
                        <li class="nav-item dropdown me-3 fs-5">
                            <a class="nav-link active dropdown-toggle cHover" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-clipboard-user"> </i> {{ user }} 
                            </a>
                            <ul class="dropdown-menu  border zNav">
                              <li><a class="dropdown-item" href="{% url 'mybookings' %}">My bookings</a></li>
                              <li><hr class=""></li>
                              <li><a class="dropdown-item" href="{% url 'account_logout' %}">Log out<output></output></a></li>
                            </ul>
                        </li>
                        {% else %}
                       
                        <div class="d-grid gap-2 d-md-block">
                            <button class="btn btn-primary" type="button"> <a class="btn btn-primary" href="{% url 'account_signup' %}">Sign Up</a></button>
                            <button class="btn btn-primary" type="button"> <a class="btn btn-primary" href="{% url 'account_login' %}">Login</a></button>
                          </div>
                        
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>


    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% block body %}
    {% endblock %}
    <footer class="bg-dark text-white">
       
        <div class="container-fluid pt-3">
            <section class="">
                <div class="container text-center text-md-start mt-5">
                  <!-- Grid row -->
                  <div class="row mt-3 text-center">
            
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h5 class="text-uppercase fw-bold mb-4 textGradient" id="contact">
                            Making delicious food since 1989.

                        </h5>
                        <i class="fa-solid fa-ice-cream" style="color: #d9dce3;">  </i>
                        <i class="fa-solid fa-utensils" style="color: #dce1ea;">  </i>
                        <i class="fa-solid fa-martini-glass-empty" style="color: #d8dadf;">  </i>
                        <i class="fa-solid fa-wifi" style="color: #e2e5e9;">  </i>

                    </div>
                    <!-- Grid column -->
                    
                    <!-- Service links Regular -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h2 class="text-uppercase fw-bold mb-4 textGradient">
                            Le chère
                        </h2>
                        <h5 class="text-uppercase fw-bold mb-4 textGradient">Open Daily</h5>
                        <p>10 AM - 10 PM </p>
                        <hr>
                        <h5 class="text-uppercase fw-bold mb-4 textGradient">Thank You</h5>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3"></i> London, 8 London Bridge St, UK</p>
                        <p>
                          <i class="fas fa-envelope me-3"></i>
                          info@example.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                      </div>
                  </div>
                  
                </div>
              </section>
              <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                Made by <strong>Maria Arnesson</strong> for educational purposes at Code Institute
                <a class="text-reset fw-bold" href="https://github.com/MariaJoannaArnesson"> Follow me: <i class="fa-brands fa-github" style="color: #f2edee;"></i></a>
              </div>
        </div>
    </footer>
    <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 2500);

        var textWrapper = document.querySelector('.ml14 .letters');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline({loop: true})
        .add({
            targets: '.ml14 .line',
            scaleX: [0,1],
            opacity: [0.5,1],
            easing: "easeInOutExpo",
            duration: 900
        }).add({
            targets: '.ml14 .letter',
            opacity: [0,1],
            translateX: [40,0],
            translateZ: 0,
            scaleX: [0.3, 1],
            easing: "easeOutExpo",
            duration: 800,
            offset: '-=600',
            delay: (el, i) => 150 + 25 * i
        }).add({
            targets: '.ml14',
            opacity: 0,
            duration: 1000,
            easing: "easeOutExpo",
            delay: 1000
        });
        
    </script>
  </body>
</html>