{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
    <!--Hero 1 Start-->
    
 
  </header>
  <div class="card text-bg-dark">
    <img src="https://img.freepik.com/free-photo/lifestyle-portrait-elegant-young-woman-with-dark-wavy-hairstyle-trendy-makeup-fashionable-beige-pullover-coat-sitting-cafe-terrace-drinking-coffee-from-white-cup_197531-24448.jpg?size=626&ext=jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <div class="logo">
        <h3>Welcome to</h3>
        <h3 class="ml6">
          <span class="text-wrapper">
            <span class="letters">Le chère</span>
          </span>
      </div>
    </div>
  </div>  
    </br></br></br></br>
<!-- special offers-->

  <center>
<h1 class="ml16" id="special">Special offers</h1>


<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="https://img.freepik.com/free-photo/croissant-basket-with-cloth-wooden-table-flat-lay_176474-8128.jpg?size=626&ext=jpg" class="card-img-top" alt="spacial-offers">
      <div class="card-body">
        <h5 class="card-title">Croissant</h5>
        <p class="card-text">6.99 $</p>
        <a href="#" class="btn btn-primary">See Our Menu</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://img.freepik.com/free-photo/roasted-pumpkin-carrot-soup-with-cream-seeds-fresh-green-ceramic-bowl-top-view_114579-1660.jpg?size=626&ext=jpg" class="card-img-top" alt="special_offers">
      <div class="card-body">
        <h5 class="card-title">Shellfish soup</h5>
        <p class="card-text">15.95 $</p>
        <a href="#" class="btn btn-primary">See Our Menu</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://img.freepik.com/free-photo/dietary-salad-with-tomatoes-feta-lettuce-spinach-pine-nuts_2829-20128.jpg?size=626&ext=jpg" class="card-img-top" alt="special_offers">
      <div class="card-body">
        <h5 class="card-title">Salade de Chèvre</h5>
        <p class="card-text">12.95 $</p>
        <a href="#" class="btn btn-primary">See Our Menu</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://images.pexels.com/photos/239581/pexels-photo-239581.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="spacial-offers">
      <div class="card-body">
        <h5 class="card-title">Macarons</h5>
        <p class="card-text"> 7.95 $ </p>
        <a href="#" class="btn btn-primary">See Our Menu</a>
      </div>
    </div>
  </div>
</div>
</center>
</br></br></br></br>
{% endblock %}

