{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
    <!--Hero 1 Start-->
    
 
  </header>
 
  <div class="card text-bg-dark">
    <img src="https://img.freepik.com/free-photo/lifestyle-portrait-elegant-young-woman-with-dark-wavy-hairstyle-trendy-makeup-fashionable-beige-pullover-coat-sitting-cafe-terrace-drinking-coffee-from-white-cup_197531-24448.jpg?size=626&ext=jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <div class="logo">
        <h3>Welcome to
        <h3 class="ml6">
          <span class="text-wrapper">
            <span class="letters">Le chère</span>
          </span>
        </h3>
      </div>
    </div>
  </div>  
    </br></br></br></br>
<!-- special offers-->

  <center>
<h1 class="ml16" id="special">Special offers</h1>


<div class="card-group">
  <div class="col">
    <div class="card">
      <img src="https://img.freepik.com/free-photo/croissant-basket-with-cloth-wooden-table-flat-lay_176474-8128.jpg?size=626&ext=jpg" class="card-img-top" alt="spacial-offers">
      <div class="card-body">
        <h5 class="card-title">Croissant</h5>
        <p class="card-text">6.99 $</p>
        <a href="#" class="btn btn-primary">See Our Menu</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://img.freepik.com/free-photo/roasted-pumpkin-carrot-soup-with-cream-seeds-fresh-green-ceramic-bowl-top-view_114579-1660.jpg?size=626&ext=jpg" class="card-img-top" alt="special_offers">
      <div class="card-body">
        <h5 class="card-title">Shellfish soup</h5>
        <p class="card-text">15.95 $</p>
        <a href="#" class="btn btn-primary">See Our Menu</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://img.freepik.com/free-photo/dietary-salad-with-tomatoes-feta-lettuce-spinach-pine-nuts_2829-20128.jpg?size=626&ext=jpg" class="card-img-top" alt="special_offers">
      <div class="card-body">
        <h5 class="card-title">Salade de Chèvre</h5>
        <p class="card-text">12.95 $</p>
        <a href="#" class="btn btn-primary">See Our Menu</a>
      </div>
    </div>
  </div>
 
</div>
</center>
</br></br></br></br>
<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-xl-10">
      <div class="card" style="border-radius: 1rem;">
        <div class="row g-0">
          <div class="col-md-6 col-lg-5 d-none d-md-block">
            <img src="https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?auto=compress&cs=tinysrgb&w=600"
              alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
          </div>
          <div class="col-md-6 col-lg-7 d-flex align-items-center">
            <div class="card-body p-4 p-lg-5 text-black">
              <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">French restaurants of the 19th century</h5>
              <p class="card-text">French restaurants today are usually in one of three categories: the bistro, or brasserie, 
                a simple, informal, and inexpensive establishment; the medium-priced restaurant; and the more elegant grand restaurant, 
                where the most intricate dishes are executed and served in luxurious surroundings</p>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </br></br></br></br>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://img.freepik.com/free-photo/female-chef-carefully-pouring-sauce-dish_23-2148763167.jpg?size=626&ext=jpg"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;"> Our chef </h5>
                <p class="card-text"> The chef is responsible for the entire kitchen, accepting people for various positions. He arranges the menu card and checks
                  the plates before they go to the waiter. In addition,
                  he is also responsible for all other matters relating to the kitchen, 
                  including interior hygiene and training of apprentices </p>

                  <h3> Emma Wolter </h3>
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </br></br></br></br>
  <img src="https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?auto=compress&cs=tinysrgb&w=600" class="img-circle">
<script>
var textWrapper = document.querySelector('.ml6 .letters');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: true})
  .add({
    targets: '.ml6 .letter',
    translateY: ["1.1em", 0],
    translateZ: 0,
    duration: 750,
    delay: (el, i) => 50 * i
  }).add({
    targets: '.ml6',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 1000
  });
</script>
{% endblock %}

