{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Menu</title>
{% endblock %}

{% block body %}
<section class="v-100" style="background-color: black;">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://img.freepik.com/free-photo/side-view-spaghetti-with-greens-ricotta-cheese-round-white-plate_176474-3223.jpg?w=826&t=st=1684329937~exp=1684330537~hmac=26f2fc57e209701587a687962dc5a7cde405afd224d58dc66ce827ffc20b0d1a"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 text-white">
            <div>
                <h2>Main Dishes</h2>
                <p>Cuisses de Grenouille_____________________________ 16.95 $</p>
                <p>(frog's legs) </p>
               
                <p>Soupe de Poissons _______________________________ 16.95 $</p>
                <p>Fish Soup</p>
                
                <p>Salade de Chèvre Chaud___________________________ 13.95 $</p>
                <p>(Goat Cheese Salad)</p>
                
                <p>Tomates Farcies_________________________________ 14.95 $</p>
                <p>(Stuffed Tomatoes)</p>
                
                <p>Gigot d'Agneau__________________________________ 15.95 $</p>
                <p>(Roasted Leg of Lamb)</p>
               
                <p>Poulet Basquaise ________________________________ 14.95 $</p>
                <p>(Basque Chicken Stew)</p>
            </div>
        </div>
      </div>
    </div>
   
  </section>
<section class="v-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://img.freepik.com/free-photo/blue-cocktail-with-orange_144627-18407.jpg?w=740&t=st=1684329171~exp=1684329771~hmac=f1e625feef67decc5876dc72f302988a82e8576f59072a542beb6f2407a6767a"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <div>
                <h2>Drinks</h2>
                <p>Orange Juice ________________________________ 2.25 $</p>
                <p>Apple Juice __________________________________ 2.25 $</p>
                <p>Herbal Tea  __________________________________ 2.50 $</p>
                <p>Heineken Beer________________________________ 4.50 $</p>
                <p>Red Wine __________________________________ 39.95 $</p>
                <p>(battle)</p>
                <p>White Wine ________________________________ 39.95 $</p>
                <p>(battle)</p>
                <p>Margarita _________________________________ 12.95 $</p>
                <p>(cocktail)</p>
            </div>
        </div>
      </div>
    </div>
   
  </section>
  <section class="v-100" style="background-color: rgba(11, 11, 11, 0.867);">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://images.pexels.com/photos/239581/pexels-photo-239581.jpeg?auto=compress&cs=tinysrgb&w=600"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 text-white">
            <div>
                <h2>Desserts</h2>
                <p>Croissants_____________________________________ 7.99 $</p>
        

                <p>Crème brûlée____________________________________ 7.95 $</p>
    

                <p>Macarons______________________________________ 8.95 $</p>
            </div>
        </div>
      </div>
    </div>
   
  </section>
</br></br></br></br></br></br>
{% endblock %}