{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Menu</title>
{% endblock %}

{% block body %}
<section class="container py-5 h-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black">
  
          
  
          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
            <div>
                
            <h2>Main Dishes</h2>
            <p>Cuisses de Grenouille_____________________________ 16.95 $</p>
            <p>(frog's legs) </p>
           
            <p>Soupe de Poissons _______________________________ 16.95 $</p>
            <p>Fish Soup</p>
            
            <p>Salade de Chèvre Chaud___________________________ 13.95 $</p>
            <p>(Goat Cheese Salad)</p>
            
            <p>Tomates Farcies_________________________________ 14.95 $</p>
            <p>(Stuffed Tomatoes)</p>
            
            <p>Gigot d'Agneau__________________________________ 15.95 $</p>
            <p>(Roasted Leg of Lamb)</p>
           
            <p>Poulet Basquaise ________________________________ 14.95 $</p>
            <p>(Basque Chicken Stew)</p>
        </center>
        </div>
          </div>
  
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
         <img src="https://img.freepik.com/free-photo/side-view-spaghetti-with-greens-ricotta-cheese-round-white-plate_176474-3223.jpg?w=826&t=st=1684326762~exp=1684327362~hmac=38034dc958a152a410276b837124dcd42082b54398d0a622facb8f911e7e3489"
            alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
        </div>
      </div>
    </div>
  </section>

{% endblock %}