


  
          <h1>Your bookings</h1>

          {% for online_booking in online_bookings %}
            
                  <p>  Reservation's date: {{online_booking.date }}</p>
                   
                  <p>Time: {{online_booking.time}} </p>
                  <p>No of people: {{online_booking.no_of_guest.guest}}</p>
                  <p> Ordering's number: {{ online_booking.id }}</p>
                  <a href="/edit_booking/{{ online_booking.id }}" >Edit</a>
               

                  <button type="button" >
                    Delete
                  </button>
                  {% endfor %}
             