{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}

<div class="position-relative m-4">
  <div class="progress" role="progressbar" aria-label="Progress" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="height: 1px;">
    <div class="progress-bar" style="width: 0%"></div>
  </div>
  <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">1</button>
  <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">2</button>
  <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem;">3</button>
</div>

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://img.freepik.com/free-vector/man-sitting-restaurant-waiter-offering-wine-bottle-guy-alone-table-modern-restaurant-evening_575670-320.jpg?w=900&t=st=1684252355~exp=1684252955~hmac=28ea0884c3f2290cd3f4e8d1198da5010ae77d83cd4fdf66d1aa0dc5e39ac4e1"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <h1 class="fw-bold mb-5 text-muted"> Online booking </h1>
        <h2>Date, lunch with friends or buisiness dinner? </h2>
        <h2>Coose a convenient table seat from the avaliable,  </h2>
        <h2>and provide details, and we'll take care of the rest.</h2>
      <button class="btn btn-primary btn-lg btn-block"> Book a table </button>
      </div>
    </div>
  </div>
</section>

{% endblock %}