{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}


<div
class="p-5 text-center bg-image"
style="
  background-image: url('https://img.freepik.com/free-photo/table-with-flowers-pots-restaurant_181624-24428.jpg?w=1060&t=st=1684243615~exp=1684244215~hmac=4de7b55727cc508c6e8c73a7a3d21a5bae1c13b4c0ebdc778bd8f36b574a119f');
  height: 900px; background-size: cover;
"
>
<div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white">
      <h1 class="mb-3">Go ahead and book a table!</h1>
      <h4 class="mb-3">....</h4>
      <a class="btn btn-outline-light btn-lg" href="#!" role="button"
      >Book a table </a
      >
    </div>
  </div>
</div>
</div>
{% endblock %}  