{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}





  <!-- End -->
  <div class="col">
    <div class="card">
        <div class="overlay">
            
            <button type="button" class="btn btn-success button">Book a table</button>
        
        </div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="https://player.vimeo.com/external/559960987.sd.mp4?s=324a7f478eefb57438117fdcca448e864c57a695&profile_id=165&oauth2_token_id=57447761" type="video/mp4">
        </video>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>

{% endblock %}  